<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'unsafe-inline' 'unsafe-eval' cdn.jsdelivr.net; img-src https://*; frame-src 'none';">
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
</body>

<script>
    var resultantApi = Vue.resource('http://dev.cwteam.pro:8080/resultant/message');

    Vue.component('messages-row', {
        props: ['message'],
        template: '<div><i>({{ message.id }})</i> {{message.text}}</div>'
    })
    Vue.component('messages-list', {
        props: ['messages'],
        template: '<div><messages-row v-for="message in messages" :key="message.id" :message="message"/></div>',
        created: function () {
            resultantApi.get().then(result =>
                result.json().then(data =>
                    data.forEach(message => this.messages.push(message))
                )
            )
        }
    })

    var app = new Vue({
        el: '#app',
        template: '<messages-list :messages="messages"/>',
        data: {
            messages : []
        }
    })
</script>
</html>