<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(messages)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Text</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}"></td>
                <td th:text="${message.text}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>